@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body */
.all_content{
  background:#ECF1F6;
}
ul,
li{
  list-style:none;
}

.login_container_area,
.register_area{
  background:#ECF1F6;
}

/* Atlasロゴ */
.login_container {
 /* 子要素を水平方向の中央に配置する */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_content{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  border-radius: 10px; /* 角を丸くする */
  background-color: white;
}

.new_register_content{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  border-radius: 10px; /* 角を丸くする */
  background-color: white;
}

.atlas-image {
  display: block;
  margin-top: 130px; /* 上の外側余白 */
  margin-bottom: 25px;
}

.text-center{
  margin-bottom: 20px;
}

/* 新規登録画面 */
.select_day_area{
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: flex-start;
  gap: 2px; /* 各要素の間隔 */
}

.birthdate-selects{
  display: flex;
  align-items: center;
  gap: 10px; /* セレクトボックスの間隔 */
}

.old_year,
.old_month,
.old_day{
  border: none;
  border-bottom: 1px solid #007bff; /* 青い下線 */
  background-color: transparent;
  outline: none;
  /* min-width: 20px; ラベルの固定幅 */
  border-radius: 0; /* 角丸をなくして棒線にする */
  width: 85px;
}

.radio_area {
  display: flex;
  justify-content: space-between; /* 均等配置 */
  width: 100%; /* 親要素の幅を最大にする */
}

/* サイドバー */
.sidebar{
  /* width:210px; */
  background-color:#03AAD2;
  font-weight:bold;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
}
.main-container{
  width:100%;
  margin-left: 200px;
}
.sidebar p a{
  color:#FFF;
  letter-spacing: 0.1em; /* 文字間の余白を指定 */
  padding-left: 10px; /* 左の内側余白 */
}

.sidebar p {
  margin-top: 20px;  /* 上の余白 */
  margin-bottom: 20px; /* 各項目の間に余白を追加 */
}

.sidebar_icon{
  margin-left: 10px; /* 左の外側余白 */
}
/* トップページ */
.user_status{
  border-radius:10px;
  background:#FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
}


/* スクール予約関連 */
.table{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  border-radius: 10px; /* 角を丸くする */
}
.day{
  padding-top: 10px;
}
.day-blank{
  background:#959595;
}
.day-mon,
.day-tue,
.day-wed,
.day-thu,
.day-fri,
.day-sat,
.day-sun{
  background-color: white;
}
.day-sat{
  color:#0000FF;
}
.day-sun{
  color:#FF0000;
}
.past-day{
  background:#D3D3D3;
}
.calendar-td{
  min-width:100px;
}
.day_part{
  color:#494949;
  font-size:12px;
}
.adjust-table{
  width:70% !important;
}
.adjust-table td{
  padding:0 !important;
}
.adjust-area p{
  justify-content: space-around;
}
.adjust-table-btn{
  width:70%;
}

/* 受付終了とリモ◯部の文字 */
.closed-text, 
.closed-part{
  color: black;
}

/* モーダル */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

/* 掲示板 */
.sub_categories{
  display:none;
}
.post_create_area{
  background:#FFF;
  border-radius:10px;
}
.post_create_area textarea{
  resize:none;
  height:300px;
  white-space: pre-wrap;
}
.detail_container{
  background:#FFF;
  border-radius: 10px; /* 角を丸くする（半径10px） */
}
.post_area{
  background:#FFF;
  border-radius:10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
}
.post_bottom_area{
  justify-content: space-between;
}

.input-group.search{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* いいねした投稿 */
.btn.pink-bg{
  background-color: #ffcccc; /* ピンク色 */
  color: #ffffff; /* 白文字 */
  margin-top: 10px;
  border-radius: 8px; /* 角を丸くする */
}

/* 自分の投稿 */
.btn.yellow-bg{
  background-color: #ffcc33; /* 黄色 */
  color: #ffffff; /* 白文字 */
  margin-top: 10px;
  border-radius: 8px; /* 角を丸くする */
}


/* 投稿　サブカテゴリーボタン */
.btn-info.sub_category_btn {
  border-radius: 10px;
  padding: 2px 3px; /* 内側の余白を小さくする */
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 8px; /* 角を丸くする */
}

/* 投稿一覧画面　投稿ボタン */
.btn-info.post_button {
  margin-top: 10px;
  border-radius: 8px; /* 角を丸くする */
}

/* 投稿一覧画面　キーワード検索欄 */
.form-control{
  margin-top: 10px;
  background-color: #ECF1F6;
}

/* 投稿一覧画面　検索ボタン */
.btn-info.post_search {
  margin-top: 10px;
}

.like_btn,
.un_like_btn{
  cursor:pointer;
}
.un_like,
.un_like_btn{
  color:#E2254D;
}
.error_message{
  font-size:12px;
  color:red;
}

/* 掲示板　カテゴリー検索 */
.category-menu{
  width: 100%;
  border-bottom: 1px solid #000;
  .category-menu-item {
    .category-menu-item-btn {
      height: 60px;
      border-top: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    ul {
      display: none;
      li {
        height: 60px;
        border-top: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  } 
}

/* 矢印 */
.category-menu-item-btn {
  position: relative;
}
.category-menu-item-btn::after{
  border-right: solid 2px #000;
  border-top: solid 2px #000;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}
.category-menu-item-btn.open::after {
  top: 45%; 
  transform: rotate(-45deg);
}

.category_search_box{
  margin-left: 15px;
}


/* 掲示板 詳細画面 */
.contributor{
  font-size:12px;
  color:#999;
  font-weight:bold;
}
.detsail_post_title{
  font-size:14px;
}
.detsail_post{
  font-size:12px;
  color:#9E9E9E;
}
.detail_inner_head{
  display:flex;
  justify-content: space-between;
}
.edit-modal-open{
  cursor:pointer;
}
.modal-inner-body textarea{
  height:150px;
  resize:none;
}
.edit-modal-btn{
  justify-content: space-between;
}
/* 掲示板 コメント */
.comment_container{
  background:#FFF;
}

.post_btn {
  float: right; /* ボタンを右端に配置 */
  margin-top: 10px;
}

.comment_area {
  width: 100%; /* 親要素の幅を設定 */
  box-sizing: border-box; /* paddingを含めた幅を計算 */
  overflow: hidden; /* 子要素がはみ出さないように隠す */
  border-radius: 15px; /* 角を丸くする */
}

.comment_area input{
  font-size:12px;
  font-weight:bold;
}
.comment_area textarea{
  height:300px;
  resize:none;
}
.comment_container span{
  font-size:12px;
}
.post_status span{
  font-size:12px;
}

/* 掲示板　カテゴリー */
.category_area{
  background:#FFF;
  border-radius:10px;
}
.category_box{
  border-radius:5px;
  padding:3px;
  background:#999;
  font-size:10px;
  color:#FFF;
}

.category_btn{
  font-size:12px;
  border-radius:5px;
  padding:0 5px;
  border:none;
  background:#999;
  color:#FFF;
}

.main_categories span,
.sub_categories li input{
  list-style:none;
  cursor:pointer;
}

/* ユーザー検索 */
.users_title{
  color: #778899;
  margin: 5px;
}

.reserve_users_area{
  display:flex;
  flex-wrap:wrap;
  width:800px;
  margin:10px auto;
  height:fit-content;
  overflow: scroll;
  padding:10px;
  background:#ECF1F6;
  border-radius:5px;
}
.reserve_users_area span{
  font-size:12px;
}
.one_person{
  width:250px;
  height:220px;
  border: 1px solid #ccc; /* 枠線 */
  border-radius: 10px; /* 角を丸くする */
  padding: 15px; /* 内側余白 */
  background-color: #fff; /* 背景色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  width: calc(33.33% - 20px); /* 3列配置を想定（スペース分を差し引く） */
  box-sizing: border-box;
  margin: 8px;
}

/* 検索条件の追加 開閉*/
.p.m-0.search_conditions {
  display: flex;           /* 横並びにする */
  align-items: center;     /* 縦方向を中央揃えにする */
}

.add_search_conditions {
  color: #778899;
  cursor:pointer;
  position: relative; /* 擬似要素を相対位置で配置 */
  display: inline-block; /* テキストが横に並ぶようにする */
  border-bottom: 1px solid #778899; /* 2pxの黒い棒線 */
  padding-bottom: 5px; /* 文字と棒線の間に少し余白を追加 */
  padding-top: 20px;
  width: 85%;
  margin-left: 5%; /* 左右のスペースを調整 */
  margin-right: 10%; /* ボーダーの幅を中央に配置するためのスペース */
}

.add_search_conditions::after{
  border-right: solid 2px #000;
  border-top: solid 2px #000;
  content: "";
  position: absolute;
  display: block;
  height: 8px;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.add_search_conditions.open::after {
  top: 45%; 
  transform: rotate(-45deg);
}

/* スライドコンテンツ */
.search_conditions_inner {
  display: none; /* 初期状態では非表示 */
  overflow: hidden;
  padding: 10px 15px;
  background-color: #ECF1F6;
}


/* セクションのスタイル */
.search_conditions_inner div {
  margin-bottom: 15px;
}

/* ラジオボタンやチェックボックスのスタイル */
input[type="radio"],
input[type="checkbox"] {
  margin-left: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.subject_inner{
  display:none;
  overflow: visible;
}

.subject_inner form {
  display: flex; /* フォーム全体を横並びに */
  flex-wrap: wrap; /* 行が折り返されるように */
}

.subject-item{
  display: flex; /* 各subject-itemを横並びに */
  align-items: center; /* ラベルとチェックボックスを縦方向に中央揃え */
  margin-right: 10px; /* 各項目の間にスペースを追加 */
}

.subject-item label {
  margin-right: 2px; /* ラベルとチェックボックスの間にスペース */
}

/* 検索科目の登録　ボタン箇所 */
.subject_edit_btn{
  display: inline-flex; /* 横並びにするためのフレックスボックス */
  position: relative; /* ::afterの絶対位置を基準にする */
  padding-right: 20px; /* 矢印と文字の間隔を調整 */
  font-size:12px;
  padding-top: 10px;
  color:#2bc3d1;
  cursor:pointer;
}

/* 矢印 */
.subject_edit_btn::after{
  border-right: solid 2px #2bc3d1;
  border-top: solid 2px #2bc3d1;
  content: "";
  height: 8px;
  position: absolute;
  right: 0; /* ボタンの右端に配置 */
  top: 10px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.subject_edit_btn.open::after {
  top: 15px; 
  transform: rotate(-45deg);/* 矢印を反転させる */
}

/* 内部の要素を縦並びにする */
.search_area > div {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 各要素間の間隔 */
  margin-bottom: 20px; /* セクションごとの余白 */
}

.search_free_word_area{
  margin-top: 50px;
}

.search_title{
  font-size: 25px;
  color: #778899;
}

.free_word{
  border: none; /* 枠線を削除 */
  padding: 10px; /* 余白の調整 */
  width: 80%; /* フル幅（必要に応じて調整） */
  background-color: #DCDCDC;
  border-radius: 8px; /* 全体の角を丸くする */
  margin-left: 10px; /* 要素の外側の余白 */
}

.caregory_title, .updown_title, .sex_title,
.role_title, .subject_title{
  font-size: 15px;
  color: #778899;
}

.category_select, .updown_select, .engineer{
  border: none; /* 枠線を削除 */
  padding: 10px; /* 余白の調整 */
  width: 30%; /* フル幅（必要に応じて調整） */
  background-color: #DCDCDC;
  border-radius: 8px; /* 全体の角を丸くする */
  margin-left: 10px; /* 要素の外側の余白 */
}

/* ユーザー検索ボタン */
.users_search_area{
  display: flex;          /* Flexbox を適用 */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center;     /* 縦方向に中央揃え */
  height: 100px;           /* 必要に応じて高さを設定 */
}

.users_search_btn{
  width: 80%;
}

/* ユーザー検索　リセットボタン */
.users_reset_area{
  display: flex;          /* Flexbox を適用 */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center;     /* 縦方向に中央揃え */
}


/* 予約詳細確認画面 */
.user_title{
  background-color: #03AAD2;
  color: #fff;
}

/* Bootstrap の table-striped の背景色をカスタマイズ */
/* 奇数行の背景色をに設定 */
.reserve-table tbody tr:nth-child(odd){
  background-color: white !important;
}

/* 偶数行の背景色をブルーにする */
.reserve-table tbody tr:nth-child(even) {
  background-color: #e9fbff;
}


.date_text,
.part_text{
  font-size: 20px;
}

/* カレンダー */
.btn-primary.reserve{
  margin-top: 30px;
}

.calendar_area{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
}

.calendar_title{
  margin-top: 10px;
  text-align: center;
}

.calendar_setting_area{
  background-color: white;
  padding-top: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  border-radius: 10px; /* 角を丸くする */

}
